NEXT_PUBLIC_SUPABASE_URL=https://vgrtkstgpjskuwekvmen.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncnRrc3RncGpza3V3ZWt2bWVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4OTUxNDMsImV4cCI6MjA5ODQ3MTE0M30.HOnjC2gbRS6W3jsKcNGWLymanxsi9cZ59Qt59Hc6NMg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZncnRrc3RncGpza3V3ZWt2bWVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjg5NTE0MywiZXhwIjoyMDk4NDcxMTQzfQ.QQ4Jv6kR7wahxILlni3SPkx5gPbO0SsLuEWCuSoQMLQ
